* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}
html,
body{
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, white,rgb(241, 234, 174),rgb(247, 212, 190)
  );
}
#header{
  font-weight:bold;
  color: white;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  height: 120px;
  font-size: larger;
  background-image: linear-gradient(to right,brown,orange);
  
}
#navbar a{
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-size: larger;
  padding: 10px;
}
#logo{
  height: 70px;
  width: 180px;
  padding-left: 10px;
  padding-top:10px;
  margin-top: 10px;
}
#navbar{
  padding: 45px;
}
#navbar a:hover{
  color: brown;
  text-decoration: underline;
}