* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}
html,
body{
  height: 100%;
  width: 100%;
  background-color: bisque;
}
#header{
  font-weight:bold;
  color: white;
  margin-bottom: 10px;
  background-color: brown;
  display: flex;
  justify-content: space-between;
  height: 70px;
  font-size: larger;
  padding: 20px;
}
#navbar a{
  color: white;
  text-decoration: none;
  margin-right: 20px;
}